<a href="https://colab.research.google.com/github/oohlizha/Tugas-Pt-2/blob/main/Tugas_Pt_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
import pandas as pd

In [5]:
DataMahasiswa = {
    'Name': ["Bada Lee", "Kenzo", "Issa"],
    'Gender': ["Perempuan", "Laki-laki", "Perempuan"],
    'Notelp': ["0987654567", "098765445", "098765434"]
}

dm = pd.DataFrame(DataMahasiswa)
print(dm)

       Name     Gender      Notelp
0  Bada Lee  Perempuan  0987654567
1     Kenzo  Laki-laki   098765445
2      Issa  Perempuan   098765434

In [7]:
DataMahasiswa = {
    'Name': ["Bada Lee", "Kenzo", "Issa"],
    'Gender': ["Perempuan", "Laki-laki", "Perempuan"],
    'Notelp': ["0987654567", "098765445", "098765434"],
    'Tugas': [98,95,94],
    'Uts': [89,80,97],
    'Uas': [98,93,90],
}

dm = pd.DataFrame(DataMahasiswa)
print(dm)

       Name     Gender      Notelp  Tugas  Uts  Uas
0  Bada Lee  Perempuan  0987654567     98   89   98
1     Kenzo  Laki-laki   098765445     95   80   93
2      Issa  Perempuan   098765434     94   97   90

In [11]:
DataMahasiswa = {
    'Name': ["Bada Lee", "Kenzo", "Issa"],
    'Gender': ["Perempuan", "Laki-laki", "Perempuan"],
    'Notelp': ["0987654567", "098765445", "098765434"],
    'Tugas': [98,95,94],
    'Uts': [89,80,97],
    'Uas': [98,93,90],
}

dm = pd.DataFrame(DataMahasiswa)
dm['Nilai Akhir'] = (0.3 * dm['Tugas'] + 0.3 * dm['Uts'] + 0.4 * dm['Uas']).round(2)
print(dm)

       Name     Gender      Notelp  Tugas  Uts  Uas  Nilai Akhir
0  Bada Lee  Perempuan  0987654567     98   89   98         95.3
1     Kenzo  Laki-laki   098765445     95   80   93         89.7
2      Issa  Perempuan   098765434     94   97   90         93.3